
@model Item

<tr id="@Model.ItemID">
	<td>@Model.Name</td>
	<td>@Model.Units</td>
	<td>@Model.PricePerUnit</td>
	<td>@Model.Quantity</td>
	<td>@ViewBag.CategoryName</td>
	<td>
		@Html.ActionLink("Update", "Edit", new { id = Model.ItemID }, new { @class = "btn btn-success btn-sm" })
		@Html.ActionLink("Details", "Details", new { id = Model.ItemID }, new { @class = "btn btn-info btn-sm" })
		<button name="name" value="Delete" class="btn btn-danger btn-sm" onclick="OnDeleteClick(@Model.ItemID)">Delete</button>
	</td>
</tr>